name: CREATE-SERVER

on:
  workflow_dispatch:
    inputs:
      token:
        description: 'What… is the air-speed velocity of an unladen swallow?'
        required: true

jobs:
  create-server:
    runs-on: ubuntu-latest

    steps:
    - name: Verify create token
      run: |
        if [[ "${{ github.event.inputs.token }}" != "${{ secrets.TOKEN }}" ]]; then echo "Aaaaaaaaagh"; exit 2; fi

    - name: Verify happy path
      run: |
        echo 'King Arthur: “What do you mean? An African or a European swallow?”'

    - name: Checkout code
      uses: actions/checkout@v2

    - name: Fetch Terraform binary
      uses: hashicorp/setup-terraform@v1
      with:
        terraform_version: 0.13.4

    - name: Terraform init
      run: terraform init

    - name: Retrieve PVT_KEY
      run: |
        echo "${PVT_KEY}" > pvt_key
        sudo chmod 600 pvt_key
      env:
        PVT_KEY: "${{ secrets.PVT_KEY }}"

    - name: Terraform plan
      run: terraform plan -no-color -var "do_token=${{ secrets.DO_PAT }}" -var "pvt_key=pvt_key"

